        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/user/login">Login</a></li>
                <li><a href="/user/register">Registration </a></li>
            </ul>
        </nav>