<main> 
    <div>
        Title :
    </div> 

    <div>
        Description : 
    </div>

    <div>
        Date Due :
    </div>
    
    <div>
        Priority : 
    </div>

    <div>
        Status : 
    </div>


</main>
