


*
{
    margin:0;
    padding: 0;
}

#container
{
    max-width: 1100px;
    margin: 0 auto;
    padding:0 1.4rem;
}

h1,h2,h3
{
    margin-bottom: 1rem;
}

nav
{
    padding:1rem 0;
}

nav li
{
    display:inline-block;
    margin-right:0.8rem;
}


a{
    color:blue;
}

.error
{
    margin-bottom: 1rem;
    padding :1rem 1.3rem;
    background-color: pink;
    border :1px solid red;
}

form[id="deleteButtonForm"]
{
    display:inline-block
}

input[class="delButtons"]
{
    background-color: white;
    border:none;
    cursor: pointer;
    color:blue;
    text-decoration: underline;

}

.tasks-container
{
    border-bottom: 1px dashed #000;
    padding-bottom:1.5rem;
    margin-bottom:1.5rem;
}

.profile-pic
{
    max-width: 50%;
}

.task-title
{
    font-size:1.1rem;
    color:#000; 
    margin-right: 8px;
}
.edit-delete-button
{
    display:inline-block;
    text-decoration: none;
    background-color:#000;
    color:#fff;
    padding:5px 10px; 
}